.App {
  text-align:left;
  display: flex;
  flex-direction: column;
    min-height: 100vh;
}


@font-face {
  font-family: 'Saira Stencil One';
  src: url('./SairaStencilOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.App-header {
  background-color:#696969;
 color: #efefef;
  font-family: Saira Stencil One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
  padding-top: 5px;
}




